@model Event

<style>
    .input__btn w-20 input__btn-fixed{
        padding-right: 50px;
    }

    #editor {
        min-height: 1000rem;
    }

    .ck {
        max-width: 31vw !important;
    }

    .ck-editor__editable {
        min-height: 30rem !important;
    }
</style>

<section>
    <div class="app__slide-wrapper">
        <div class="breadcrumb__area">
            <div class="breadcrumb__wrapper mb-35">
                <div class="breadcrumb__main">
                    <div class="breadcrumb__inner">
                        <div class="breadcrumb__icon">
                            <i class="fa-solid fa-house"></i>
                        </div>
                        <div class="breadcrumb__menu">
                            <nav>
                                <ul>
                                    <li><span><a href="">Dashboard</a></span></li>
                                    <li class="active"><span>Create Event</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12">
                <div class="create__event-area">
                    <div class="body__card-wrapper">
                        <div class="card__header-top">
                            <div class="card__title-inner">
                                <h4 class="event__information-title">Event Information</h4>
                            </div>
                        </div>
                        <form method="POST" enctype="multipart/form-data">
                            <div class="create__event-main pt-25">
                                <div class="event__left-box">
                                    <div class="create__input-wrapper">
                                        <div class="singel__input-field mb-15">
                                            <label class="input__field-text">Event name</label>
                                            <input type="text" asp-for="Fullname" class="form-control" />
                                            <span asp-validation-for="Fullname" class="text-danger"></span>
                                        </div>

                                        <div class="event__input mb-15">
                                            <label class="input__field-text">Event description</label>
                                        </div>
                                        <textarea id="editor" asp-for="@Model.Description" class="form-control"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>

                                    <div class="event__update-wrapper">
                                        <br />
                                        <label>Avatar</label>
                                        <div class="event__update-file">
                                            <div class="box__input">
                                                <input name="avatar" type="file" id="avatar" class="box__file" />
                                                <label class="input__field-text" for="avatar">
                                                    <span><i class="fa-regular fa-plus"></i></span>
                                                    <span>Add Image</span>
                                                </label>
                                            </div>
                                            <span asp-validation-for="AvatarPath" class="text-danger"></span>
                                        </div>

                                        <div id="avatar-image-wrapper"></div>

                                        <label>Additional Images</label>
                                        <div class="event__update-file">
                                            <div class="box__input">
                                                <input type="file" name="addtitionalImages" id="file" class="box__file" multiple />
                                                <label class="input__field-text" for="file">
                                                    <span><i class="fa-regular fa-plus"></i></span>
                                                    <span>Add Image</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="event__update-file" id="image-wrapper"></div>
                                    </div>
                                </div>

                                <div class="event__right-box">
                                    <div class="create__input-wrapper">
                                        <div class="row g-20">
                                            <div class="col-xxl-6 col-xl-6 col-lg-6">
                                                <label class="input__field-text">Location</label>
                                                <div class="contact__select">
                                                    <select asp-for="LocationId" class="form-select">
                                                        @if (ViewData["Locations"] is IEnumerable<FUEM.Domain.Entities.Location> locations)
                                                        {
                                                            foreach (var location in locations)
                                                            {
                                                                <option value="@location.Id">@location.LocationName</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <option disabled>No location available</option>
                                                        }
                                                    </select>
                                                    <span asp-validation-for="LocationId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-xxl-6 col-xl-6 col-lg-6">
                                                <label class="input__field-text">Event category</label>
                                                <div class="contact__select">
                                                    <select asp-for="CategoryId" class="form-select">
                                                        @if (ViewData["Categories"] is IEnumerable<FUEM.Domain.Entities.Category> categories)
                                                        {
                                                            foreach (var category in categories)
                                                            {
                                                                <option value="@category.Id">@category.CategoryName</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <option disabled>No category available</option>
                                                        }
                                                    </select>
                                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <div class="singel__input-field is-color-change mb-15">
                                                    <label class="input__field-text">Date of event</label>
                                                    <input type="date" asp-for="DateOfEvent" class="form-control" />
                                                    <span asp-validation-for="DateOfEvent" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="singel__input-field is-color-change mb-15">
                                                    <label class="input__field-text">Start time</label>
                                                    <input type="time" asp-for="StartTime" class="form-control" />
                                                    <span asp-validation-for="StartTime" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-xxl-6 col-xl-6 col-lg-6">
                                                <div class="singel__input-field is-color-change mb-15">
                                                    <label class="input__field-text">End time</label>
                                                    <input type="time" asp-for="EndTime" class="form-control"  />
                                                    <span asp-validation-for="EndTime" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-xxl-6 col-xl-6 col-lg-6">
                                                <div class="singel__input-field is-color-change mb-15">
                                                    <label class="input__field-text">Guest limit</label>
                                                    <input type="number" asp-for="GuestRegisterLimit" class="form-control" value="0" min="0" />
                                                    <span asp-validation-for="GuestRegisterLimit" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-xxl-6 col-xl-6 col-lg-6">
                                                <div class="singel__input-field is-color-change mb-15">
                                                    <label class="input__field-text">Guest register deadline</label>
                                                    <input type="date" asp-for="GuestRegisterDeadline" class="form-control" />
                                                    <span asp-validation-for="GuestRegisterDeadline" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-xxl-6 col-xl-6 col-lg-6">
                                                <div class="singel__input-field is-color-change mb-15">
                                                    <label class="input__field-text">Collaborator Limit</label>
                                                    <input type="number" asp-for="CollaboratorRegisterLimit" class="form-control" value="0" min="0" />
                                                    <span asp-validation-for="CollaboratorRegisterLimit" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-xxl-6 col-xl-6 col-lg-6">
                                                <div class="singel__input-field is-color-change mb-15">
                                                    <label class="input__field-text">Collaborator register deadline</label>
                                                    <input type="date" asp-for="CollaboratorRegisterDeadline" class="form-control" />
                                                    <span asp-validation-for="CollaboratorRegisterDeadline" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-6 col-lg-6">
                                                <div class=" mb-15">
                                                    <label class="">Has Ticket</label>
                                                    <input type="checkbox" asp-for="IsNeedTicketPayment" class="d-block" onchange="activeInputForTicketPrice(this)" />
                                                    <span asp-validation-for="IsNeedTicketPayment" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div id="ticket-price-input" class="d-none col-xxl-6 col-xl-6 col-lg-6">
                                                <div class="singel__input-field is-color-change mb-15">
                                                    <label class="input__field-text">TicketPrice</label>
                                                    <input type="number" asp-for="TicketPrice" class="form-control" />
                                                    <span asp-validation-for="TicketPrice" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <button class="input__btn w-100" type="submit">Register</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
<script type="text/javascript">
    ClassicEditor
        .create(document.getElementById('editor'))
        .then(editor => {
            editor.ui.view.editable.element.style.height = '30rem';
        })
        .catch(error => {
            console.error(error);
        });

    let avatarPreviewWrapper = document.getElementById("avatar-image-wrapper");
    let avatarInput = document.getElementById("avatar");

    avatarInput.onchange = function () {
        avatarPreviewWrapper.innerHTML = "";

        if (avatarInput.files.length > 0) {
            let file = avatarInput.files[0];

            let divWrapper = document.createElement("div");
            divWrapper.className = "event__update-thumb";

            let previewImage = document.createElement("img");
            previewImage.src = URL.createObjectURL(file);
            previewImage.style.width = '250px';
            previewImage.style.height = '200px';
            previewImage.style.margin = '10px';

            divWrapper.append(previewImage);
            avatarPreviewWrapper.append(divWrapper);
        }
    };

    let previewWrapper = document.getElementById("image-wrapper");
    let fileInput = document.getElementById("file");

    fileInput.onchange = function () {
        for (let i = 0; i < fileInput.files.length; i++) {
            let divWrapper = document.createElement("div");
            divWrapper.className = "event__update-thumb";
            let previewImage = document.createElement("img");
            previewImage.src = URL.createObjectURL(fileInput.files[i]);
            previewImage.style.width = '150px';
            previewImage.style.height = '100px';
            previewImage.style.margin = '10px';

            divWrapper.append(previewImage);
            previewWrapper.append(divWrapper);
        }
    };

    function activeInputForTicketPrice(checkbox) {
        const ticketPriceInput = document.getElementById('ticket-price-input');
        console.log('11', checkbox);
        console.log('12', ticketPriceInput);
        if (checkbox.checked) {
            ticketPriceInput.classList.remove('d-none');
        } else {
            ticketPriceInput.classList.add('d-none');
        }
    }
</script>
